<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="promise">Promise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="observable">Observable</a>
      </li>
      <li><a class="nav-link"  routerLink="about">Lazy Loading</a> </li>
      <li><a class="nav-link"  routerLink="login">Login</a> </li>
      <li class="nav-item">
        <strong class="badge badge-primary" *ngIf="exclusive">Exclusive</strong>
      </li>
    </ul>
  
  </nav>
