<h2>Take , TakeLast ,TakeUntil</h2>
<br>
<hr>
<h4><strong>names = ['aman', 'rohan', 'rajat', 'aniket', 'vijay']</strong></h4>

<div class="row">
    <div class="col-md-4">
        <strong>Ex-01 | Take(5)</strong>
        <hr>
        <ul id="el">
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Ex-02 | TakeLast(2)</strong>
        <hr>
        <ul id="el1">
        </ul>
    </div>
    <div class="col-md-4">
        <strong>Ex-03 | TakeUntil(condition)</strong>
        <hr>
        <ul id="el2">
        </ul>
    </div>
</div>