<div class="row">
    <div class="col-md-4">
        <p class="bg-light py-2 px-3 border rounded"><strong>Ex - 01</strong></p>
        <hr>
        {{data1}}
    </div>
    <div class="col-md-4">
        <p class="bg-light py-2 px-3 border rounded"><strong>Ex - 02 -> 3*mapdata</strong></p>
        <hr>
        {{data2}}
    </div>
    <div class="col-md-4">
         <p class="bg-light py-2 px-3 border rounded"><strong>Ex - 03 -> Object</strong></p>
    <ul id="elContainer"></ul>
    </div>
</div>