<div class="my-3">
    <h2>Of and From</h2>
    <br>
    <strong>Ex - 01 (of)</strong>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <p class="boder rounded bg-light py-2 px-3">
            <strong>Data of: </strong>'aniket','rohit','raman'
        </p>
        <hr>
        <ul id="elContainer">
        </ul>
    </div>
    <div class="col-md-6">
        <p class="boder rounded bg-light py-2 px-3">
            <strong>Data : </strong>of(a:'aman',b:'rohan',c:'rajat')
        </p>
        <hr>
        <ul id="elContainer1">
            <li><strong>a: </strong>{{obsMsg.a}}</li>
            <li><strong>b: </strong>{{obsMsg.b}}</li>
            <li><strong>c: </strong>{{obsMsg.c}}</li>
        </ul>
    </div>
</div>
<hr>
<strong>Ex - 02 (from)</strong>
<div class="row">
    <div class="col-md-4">
        <p class="boder rounded bg-light py-2 px-3">
            <strong>Array to Observable: </strong>'aniket','rohit','raman'
        </p>
        <hr>
        <ul id="elContainer2">
        </ul>
    </div>
    <div class="col-md-4">
        <p class="boder rounded bg-light py-2 px-3">
            <strong>Promise  to Observale : </strong>'aman','rohan','rajat'
        </p>
        <hr>
        <ul id="elContainer3">
        </ul>
    </div>

    <div class="col-md-4">
        <p class="boder rounded bg-light py-2 px-3">
            <strong>Data Observable`: </strong>'aman','rohan','rajat'
        </p>
        <hr>
        <ul id="elContainer4">
        </ul>
    </div>
</div>