<h3>Custom Observable</h3>

<div class="row">
    <div class="col-md-6">
        <strong>Ex -01 (Manual)</strong>
        <hr>
        <ul [ngClass]="techStatus =='completed'?'completed': techStatus=='error'?'error':''" class="techlist" id="elContainer">
         
        </ul>

    </div>
    <div class="col-md-6">
        <strong>Ex -02 (Custom Interval Observable)</strong>
        <hr>
        <ul [ngClass]="techStatus2 =='completed'?'completed': techStatus2=='error'?'error':''" class="techlist" id="elContainer2">
           
        </ul>

    </div>
</div>
<div class="row">
    <div class="col-md-12 mt-3" >
        <strong>Ex -02 (Custom Interval Observable)</strong>
        <p class="boder rounded bg-light py-2 px-3 my-3">
            <strong>Random Name: </strong>
            'aniket','rohit','raman','anup',manu,tannu
        </p>
        <hr>
        <p>Current Name : <strong >{{names}}</strong></p>
        <span [ngClass]="nameStatus =='completed'?'badge-success': nameStatus=='error'?'badge-danger':'badge-primary'" >
            {{nameStatus =='completed'?'Success': nameStatus=='error'?'Error':'Loading...'}}
        </span>
    </div>
</div>