<div class="row">
    <div class="col-md-4">
        <strong>Ex-01 :With Promise</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch1()">Buy Laptop</button>
        <hr>
        <div id="result">{{fetch1data}}</div>
    </div>
    <div class="col-md-4">
        <strong>Ex-02 :With Async/Await</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch2()">Buy Laptop</button>
        <hr>
        <div id="result">Data</div>
    </div>
    <div class="col-md-4">
        <strong>Ex-03 :With Fetch api</strong>
        <hr>
        <button class="btn btn-primary" (click)="fetch3()">Buy Laptop</button>
        <hr>
        <div id="result">Data</div>
    </div>
</div>



<!-- <h3>Promise </h3>
            <br>
            <p>async</p>
            <p>Return single value 
                -resolve(yes)
                -reject(no)
            </p>
        
            <h3>Observable</h3>
            <br>
            <p>async or sync</p>
            <p>return stream of values</p> -->