<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li> <a routerLink="from-event">fromEvent</a> </li>
            <li> <a routerLink="interval">Interval</a> </li>
            <li> <a routerLink="of">of-from</a> </li>
            <li> <a routerLink="toArray">To Array</a> </li>
            <li> <a routerLink="custom">Custom Observable</a></li>
            <li><a routerLink="map">Map</a> </li>
            <li><a routerLink="pluck">Pluck</a></li>
            <li><a routerLink="tap">Tap</a> </li>
            <li><a routerLink="take">Take</a> </li>
            <li><a routerLink="retry">Retry</a> </li>
            <li><a routerLink="debounceTime">Debounce Time</a> </li>
            <li><a routerLink="subject">Subject</a> </li>
            <li><a routerLink="replay">Replay Subject</a> </li>
            <li><a routerLink="async">Async Subject</a> </li>
            <li><a routerLink="concet">Concet Merge</a> </li>
            <li><a routerLink="merge">Merge Map</a> </li>
            <li><a routerLink="concatMap">Concat Map</a> </li>
            <li><a routerLink="switchMap">Switch Map</a> </li>
            <li><a routerLink="searchswitchmap">Search with Switch Map</a> </li>
            <li><a routerLink="exhaustmap">Exhaust Map</a> </li>
            <li><a routerLink="sharereplay">Share Replay</a> </li>
            <li><a routerLink="combinelatest">Combine Latest</a> </li>
            <li><a routerLink="zip">Zip</a> </li>
            <li><a routerLink="table">Datatable</a> </li>
           
            <re-captcha 
            (resolved)="resolved($event)"
            siteKey="6LfTq1AaAAAAAGRvnEhpSvVmWVPcMY5LMMWwa3T8">  
        </re-captcha>
            
        </ul>
    </div>
</div>
