<h2>Concat Map</h2>
<div class="row">
    <div class="col-md-4">
        <strong>Ex - 01|Map</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded"><strong>Videos: </strong>['tech','comedy','news']</p>
        <hr>
        <ul id="el">
        </ul>
    
    </div>
    <div class="col-md-4">
        <strong>Ex - 02|Map + concetAll</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded"><strong>Videos: </strong>['tech','comedy','news']</p>
        <hr>
        <ul id="el1">

        </ul>
   
    </div>
    <div class="col-md-4">
        <strong>Ex - 03|ConcatMap</strong>
        <hr>
        <p class="bg-light py-2 px-3 border rounded"><strong>Videos: </strong>['tech','comedy','news']</p>
        <hr>
        <ul id="el2">
        </ul>
    </div>


</div>
